In [ ]:
# Multiple Regression 
#y = b0+b1*x1+b2*x2+---bn*xn

# Nominal : Male/Female, Red/Green, delhi/kolkata/mumbai

# Ordinal : Poor/Satisfac/Good/Very Good, o/e/a/b/c/d/f

In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [16]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
df.bedrooms.median()

4.0

In [18]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price', axis='columns'), df.price)

LinearRegression()

reg.coef_

In [22]:
reg.intercept_

221323.00186540443

In [23]:
reg.predict([[3000,4,30]])

array([554114.31074458])

In [24]:
reg.predict([[4100,6,8]])

array([795258.55102673])

In [25]:
reg.score(df.drop('price', axis='columns'), df.price)

0.9550196399325818